//====================================================================================================
.hero {

    &__container {
        h1 {
            font-size: toRem(32);
            text-align: center;
            text-transform: uppercase;
            @include adaptiveValue("padding-top", 50,5 );
        }
    }
}
//====================================================================================================
